@model  Aspose.App.Diagram.Pages.PageModels.AppModel

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
@{
    ViewBag.Title = "Free Visio File Format Online Apps";
}
@using Aspose.App.Diagram.Pages.Config
<div class="error404">
    <div class="content404">
        <h2>404</h2>
        <span>
            <a href="@AppConfiguration.PageUrl">Home Page</a>
        </span>
    </div>
</div>

