body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Helvetica', 'Open Sans', sans-serif;
    color: #333;
    min-width: 900px;
}

.header {
    height: 95px;
    width: 100%;
    position: absolute;
    top: 0;
}

.nav-bar {
    background-color: #131313;
    height: 62px;
    padding: 0 10px;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
    height: 100%;
}

.navbar-brand,
.nav-left h3 {
    display: inline-block;
    vertical-align: middle;
    color: #9D9D9D;
}

.import-box {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    top: 15px;
    right: 65px;
}

.download-box {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    top: 15px;
    right: 60px;
}

.import-box a,
.download-box a {
    text-decoration: none;
    cursor: pointer;
}

.download-box li:hover {
    background-color: #F0EBEB;
}

.download-box a i {
    vertical-align: middle;
}

.download-button {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
    padding: 8px 10px;
    border-radius: 3px;
    font-size: 14px;
}

.download-button i {
    color: #fff;
}

.btn-close {
    top: 15px;
    right: 10px;
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.btn-close i {
    font-size: 18px;
    color: #FFF;
}

.nav-left span {
    color: #9D9D9D;
    margin-left: 20px;
}

.content {
    width: 100%;
    overflow: auto;
    position: absolute;
    top: 99px;
    bottom: 0px;
    border-bottom: 1px solid #D3D3D3;
    background-color: #FFF;
}

.footer {
    height: 40px;
    left: 200px;
    width: 85%;
    position: absolute;
    bottom: 0;
}

.title {
    line-height: 40px;
    font-size: 16px;
    display: inline-block;
    width: 200px;
}

.title .back,
.title .file-name {
    display: inline-block;
    margin-left: 10px;
}

.file-name span {
    margin-left: 5px;
}

.title .back a i {
    font-size: 14px;
}

.title .back span {
    margin-left: 10px;
}

.title .file-name span {
    cursor: pointer;
    display: inline-block;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.title .file-name i {
    font-size: 18px;
    color: #687BF7;
    vertical-align: middle;
}

.nav {
    font-size: 14px;
    line-height: 40px;
    display: inline-block;
    vertical-align: middle;
}

.nav span {
    margin-right: 15px;
    cursor: pointer;
}

.property-bar {
    height: 35px;
    border-bottom: 1px solid #e2e6ed;
    border-top: 1px solid #e2e6ed;
    width: 100%;
    font-size: 12px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-color: #FAFBFD;
    /* justify-content: center;  */
}

.property-bar-item {
    display: inline-block;
    margin: 0 5px;
    position: relative;
}

.property-bar-item a,
.property-bar-item select {
    padding: 3px;
    border-radius: 2px;
    cursor: default;
}

.property-bar-item a:hover,
.property-bar-item select:hover {
    background-color: #f0ebeb;
}

.tool-undo i {
    font-size: 16px;
    cursor: pointer;
}

.tool-sep {
    height: 18px;
    border-right: solid 1px #b9b8b8;
    margin: 0 10px;
}

.text-style-selected {
    background-color: #f0ebeb;
}

.downicon {
    font-size: 12px;
    color: rgb(128, 122, 122);
    margin: 0 2px;
}

.bottom-color {
    height: 3px;
    width: 16px;
    position: absolute;
    left: 3px;
    bottom: -1px;
    background-color: rgb(230, 217, 46);
}

.iconfont14 {
    font-size: 14px;
}

.iconfont12 {
    font-size: 12px;
}

.iconfont-back-front {
    font-size: 14px;
    /* color: #6f6d6d; */
}

.content-left {
    width: 200px;
    float: left;
    height: 100%;
    overflow-y: auto;
    border-right: 1px solid #D3D3D3;
    /* background-color: #F7F7F7; */
}

.main {
    margin-left: 200px;
    outline: none;
    background-color: #EEEEEE;
    height: 100%;
    overflow: auto;
    bottom: 40px;
}

.search {
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    padding: 14px 8px 0px;
    border-bottom: 1px solid #D3D3D3;
}

.search2 {
    text-overflow: clip;
    padding-bottom: 8px;
    cursor: default;
}

.search2 input {
    font-size: 12px;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 4px;
    width: 100%;
    outline: none;
    padding: 6px 20px 6px 6px;
}

.title1 {
    display: block;
    font-size: 13px;
    border-bottom: 1px solid #D3D3D3;
    font-weight: 500;
    padding: 8px 0px 8px 14px;
    margin: 0px;
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4em;
}

.title1 img {
    width: 14px;
}

.geSidebar .center {
    border-bottom: 1px solid #D3D3D3;
    padding: 6px;
    padding-left: 10px;
    padding-bottom: 6px;
    overflow: hidden;
}

.center {
    border-bottom: 0px;
}

.geSidebar a,
.center a {
    overflow: hidden;
    width: 34px;
    height: 32px;
    padding: 1px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 8px;
}

.geSidebar a:hover,
.center a:hover {
    background-color: #E0E0E0;
}

.geSidebar svg,
.center svg {
    left: 1px;
    top: 1px;
    width: 32px;
    height: 30px;
    display: block;
    position: relative;
    overflow: hidden;
}

.geSidebar {
    border-bottom: 1px solid #D3D3D3;
    padding: 6px;
    padding-left: 10px;
    padding-bottom: 6px;
    overflow: hidden;
}

.more-shape {
    display: inline-block;
    width: 15%;
}

.more-shape a {
    display: block;
    font-size: 13px;
    font-weight: 500;
    padding: 8px 0px 8px 14px;
    margin: 0px;
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.more-shape a span {
    font-size: 18px;
    margin-right: 5px;
}

.more-shape :hover {
    background-color: #e7cb6c;
}

.geTabContainer {
    width: 85%;
    height: 40px;
}

.w60 {
    width: 60px;
    text-align: center;
}

.geSidebarTooltip {
    position: absolute;
    background: #fbfbfb;
    overflow: hidden;
    box-shadow: 0 2px 6px 2px rgba(60, 64, 67, .15);
    border-radius: 6px;
}

#mytitle {
    position: absolute;
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 8px;
    z-index: 1000;
    border-radius: 5px;
    display: none;
}

.dialog {
    background-color: rgba(255, 255, 255, 1);
    z-index: 10086;
    text-align: center;
    transform: translate(-50%, -50%);
    display: block;
    position: absolute;
    line-height: 1em;
    overflow: hidden;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 2px;
}

.mxPopupMenuItem {
    font-family: Helvetica, sans-serif !important;
    color: #333 !important;
}

.mxPopupMenu {
    box-shadow: 3px 3px 12px #989797;
    border-radius: 6px;
    margin-bottom: 20px;
}

.mxPopupMenuItemHover {
    background-color: #F0EBEB !important;
}

.button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin: 0px 5px;
}

.input-box {
    height: 15px;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

.button-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.import-container {
    text-align: left;
}

.import-container span {
    font-size: 13px;
}

.import-container form {
    margin: 22px 0;
}

.button-group {
    text-align: right;
}

.disable {
    color: #7F7F7F;
}

.disable i {
    color: #7F7F7F;
}

.Line {
    padding: 0px 4px;
    width: 33px;
}

.Line .Solid {
    width: 33px;
    height: 1px;
    border-bottom: 1px solid black;
    padding-top: 6px;
}

.Line .Dashed {
    width: 33px;
    height: 1px;
    border-bottom: 1px dashed black;
    padding-top: 6px;
}

.Line .Dashed2 {
    width: 33px;
    height: 1px;
    border-bottom: 1px dotted black;
    padding-top: 6px;
}

.Line .Dashed3 {
    width: 33px;
    height: 1px;
    border-bottom: 1px dotted black;
    padding-top: 6px;
}

.Line .Thick1 {
    width: 33px;
    height: 1px;
    border-bottom: 1px solid black;
    padding-top: 6px;
}

.Line .Thick2 {
    width: 33px;
    height: 1px;
    border-bottom: 2px solid black;
    padding-top: 6px;
}

.Line .Thick3 {
    width: 33px;
    height: 1px;
    border-bottom: 3px solid black;
    padding-top: 6px;
}

.Line .Thick4 {
    width: 33px;
    height: 1px;
    border-bottom: 4px solid black;
    padding-top: 6px;
}

.Line .Thick5 {
    width: 33px;
    height: 1px;
    border-bottom: 5px solid black;
    padding-top: 6px;
}

.WayPoint {
    padding: 2px;
    padding-bottom: 4px;
    margin: 2px;
    border: 1px solid transparent;
    opacity: 0.5;
}

.imageEntity {
    background: url('../images/sprites.png') no-repeat top left;
    width: 21px;
    height: 21px;
}

.Straight {
    background-position: 0 -1150px;
}

.Orthogonal {
    background-position: 0 -1242px;
}

.Simple {
    background-position: 0 -5903px;
}

.Simple1 {
    background-position: 0 -5857px;
}

.Curved {
    background-position: 0 -1288px;
}

.EntityRelation {
    background-position: 0 -1196px;
}