<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn" internalLogFile="c:\tempFop\nlog-internal.log">

  <extensions>
    <add assembly="Aspose.App.Diagram.Infrastructure"/>
  </extensions>

  <targets>
    <target xsi:type="File" name="FileLogger" fileName="c:/tempFop/logs/${shortdate}-${level}.log"
          layout="${longdate}->${message}" />
    <target xsi:type="File" name="InternalServerErrorFile" fileName="c:/tempFop/logs/${shortdate}-InternalServerError.log"
      layout="${longdate}->${message}" />
  </targets>

  <rules>
    <logger levels="Info,Error,Debug" name="AppLogger" writeTo="FileLogger" final="true"/>
    <logger levels="Info,Error" name="InternalServerErrorLogger" writeTo="InternalServerErrorFile" final="true"/>
  </rules>
</nlog>
